<list>
    <ul id="languageList">
        <li>Assembly</li>
        <li>C</li>
        <li>C#</li>
        <li>C++</li>
        <li>CSS</li>
        <li>Clojure</li>
        <li>Elm</li>
        <li>Go</li>
        <li>HTML</li>
        <li>Haskell</li>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Objective-C</li>
        <li>PHP</li>
        <li>Python</li>
        <li>Ruby</li>
        <li>Rust</li>
        <li>Scala</li>
        <li>Swift</li>
        <li>Vue</li>
    </ul>
<list>