<!DOCTYPE html>
<html>
<body>

<h1>Why open source?</h1>

<p>Help out the community and help yourself. There are numerous benefits to contributing to open source.
</p>

<h2>Collaboration</h2>

<p>Work with people from all around the world. Not only will it help your understanding of team dynamics, you'll also have a chance to work with a diverse group of people.</p>

<h2>Skill mastery</h2>

<p>Learn new skills and hone old ones.</p>

<h2>Contribution</h2>

<p>With your new found skills, you can give back to the development community in creating something truly unique. You can help contribute your expertise to someone else's project and help them get over thorny issues.</p>

<h2>Creativity</h2>

<p>Have an idea to help the world? Build it. Want to take an existing project in a whole new direction? Totally. The possibilities are only limited by your imagination.</p>

<h2>Don't code?</h2>

<p>You can still contribute. All projects need documentation, design, management, and publicity. Like finding bugs? Excellent, the open source community needs testers. There's a place for you and your skill set!</p>

</body>
</html>

