<!doctype html>
<html lang="en">
<html>
<head>
    <title>{{title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Ubuntu:700" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/main.css">

    <!-- Latest compiled and minified Bootstrap 4 CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- SOURCErers CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</head>

<body>
  <div id="header">
    <h1>OPN<span>*</span>SRC</h1>
    <h2>Why&nbsp;Open Source?</h2>
    <p>Help out the community and help yourself. There are many benefits to&nbsp;contributing&nbsp;to&nbsp;open&nbsp;source.</p>
  </div>

  <div id="benefits">
    <div class="benefit">
      <h2>Collaboration</h2>
      <p>Work with people from all around the world. Not only will it help your understanding of team dynamics, you&rsquo;ll also have a chance to work with a diverse group of people.</p>
    </div>
    <div class="benefit">
      <h2>Creativity</h2>
      <p>Have an idea to improve poeple&rsquo;s lives? Build it. Want to take an existing project in a whole new direction? Totally. The possibilities are only limited by your imagination.</p>
    </div>
    <div class="benefit">
      <h2>Contribution</h2>
      <p>Give back to the development community by creating something truly unique. You can help contribute your expertise to someone else&rsquo;s project and help them get over thorny issues.</p>
    </div>
  </div>
  </header>


<div class="container" id="mainContainer" >
    {{{body}}}

</div>
<script src='/js/script.js'></script>
</body>

</html>