
{{!-- {{form container}} --}}
<div class="container" id="form">

</div>

<h4>Open Source Projects matching  your skills: </h4>

<div class="container" id="list">
    {{#each repos}}
        {{>repos this}}
    {{/each}}
</div>

<br> 

<div>
    <button type="button" class="btn btn-primary" id="urlSubmit">Test Search API</button>
</div>


{{!-- {{ footer partial can be embedded in all pages}} --}}
{{>footer}}


