<div id="header">
    <h1>OPN<span>*</span>SRC</h1>
    <h2>Why&nbsp;Open Source?</h2>
    <p>Help out the community and help yourself. There are many benefits to&nbsp;contributing&nbsp;to&nbsp;open&nbsp;source.</p>
</div>

<div id="benefits">
    <div class="benefit">
        <h2>Collaboration</h2>
        <p>Work with people from all around the world. Not only will it help your understanding of team dynamics, you&rsquo;ll also have a chance to work with a diverse group of people.</p>
    </div>
    <div class="benefit">
        <h2>Creativity</h2>
        <p>Have an idea to improve people&rsquo;s lives? Build it. Want to take an existing project in a whole new direction? Totally. The possibilities are only limited by your imagination.</p>
    </div>
    <div class="benefit">
        <h2>Contribution</h2>
        <p>Give back to the development community by creating something truly unique. You can help contribute your expertise to someone else&rsquo;s project and help them get over thorny issues.</p>
    </div>
</div>
</header>



<div class="container-fluid" id="reposHome">

    <p class="container">
      <button id="collapse-btn" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Select Language
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="grid-collapse card card-body container">
        <div class="grid-container">
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Assembly</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">C</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">C#</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">C++</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">CSS</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Clojure</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Elm</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Go</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">HTML</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Haskell</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Java</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">JavaScript</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Objective-C</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">PHP</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Python</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Ruby</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Rust</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Scala</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Swift</a></div>
            <div class="grid-item"><a onclick="searchLanguage(this.innerHTML)" href="">Vue</a></div>
        </div>
      </div>
    </div>


    {{!-- {{form container}} --}}
    <div class="container" id="form">

    </div>

    <div class="container" id="openSourceTitle">
    <h4>Open Source Projects: </h4>
    </div>
    <div class="container" id="list" style="min-height: 100vh">
        {{#each repos}}
            {{>repos this}}
        {{/each}}
    </div>

    <br>
</div>

<div id="footer">
    <h2>Don&rsquo;t code?</h2>
    <p>You can still contribute. All projects need documentation, design, management, and publicity. <br>Like finding bugs? Excellent, the open source community needs testers. There&rsquo;s a place for you and your skill set!</p>
</div>

<div id="copy">
    <div class="copy-credit">
        <p class="copyright">Copyright &copy; <?php echo date('Y'); ?> OPN<span>*</span>SRC</p>
        <p class="pipe">|</p>
        <p class="credit">Created by the Sourcerers: <a href="https://www.linkedin.com/in/jamilakram" target="_blank">Jamil Akram</a>, <a href="https://www.linkedin.com/in/lucas-blanchard-3083b864/" target="_blank">Luke Blanchard</a>, <a href="https://www.linkedin.com/in/vinnyasa" target="_blank">Vinny Harris-Riviello</a>, <a href="https://linkedin.com/in/kellyvonborstel" target="_blank">Kelly von Borstel</a></p>
    </div>
</div>



