
<div id="header">
    <a href="/">
        <h1 id="siteName">OPN<span>*</span>SRC</h1>
    </a>

    <br>
    <h2>{{repo}}</h2>
    <p>These are some of the issues you can start with this project. Maybe Jamil can do his magic in this line</p>
</div>

</header>



<br>

<div class="container">
    {{#each issues}}

      <div class="container" id="issueCard">
        <div class="card">
            <a class="card-link" href={{this.html_url}}></a>
            <div class="card-header" id="issueTitle">
                {{this.title}}
            </div>

            <div class="card-body" id="card-body">
                <p class="card-text" id="issueBody">{{this.body}}</p>
            </div>
        </div>
      </div>

    {{/each}}
</div>



